<?xml version="1.0"?>

<robot name="wall">
  <link name="wall">
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.05 1.2 1.2" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.00003375" ixy="0.0"  ixz="0.0"  iyy="0.00003375"  iyz="0.0"  izz="0.00003375" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.05 1.20 1.20" />
      </geometry>
      <material name="white">
        <color rgba="0.99 0.99 0.99 1.0"/>
      </material>
    </visual>  
  </link>
</robot>
